<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.incoder.mybatis.dao.DeptMapper">
    <resultMap id="BaseResultMap" type="org.incoder.mybatis.bean.Dept">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="superior_id" jdbcType="BIGINT" property="superiorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tbl_dept
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.incoder.mybatis.bean.Dept">
        insert into tbl_dept (id, dept_name, superior_id,
                              create_time, update_time, is_deleted)
        values (#{id,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR}, #{superiorId,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="org.incoder.mybatis.bean.Dept">
        update tbl_dept
        set dept_name   = #{deptName,jdbcType=VARCHAR},
            superior_id = #{superiorId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            is_deleted  = #{isDeleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, dept_name, superior_id, create_time, update_time, is_deleted
        from tbl_dept
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, dept_name, superior_id, create_time, update_time, is_deleted
        from tbl_dept
    </select>
</mapper>